.📦fnt-fam_tawojy {
  /* font-family: 'Montserrat', sans-serif; */
}

.App {
  /* margin: 100px auto; */
  /* font-family: 'Montserrat', sans-serif; */
}

.logo {
  float: left;
  padding: 0 24px;
  font-size: 26px;
  font-weight: bold;
}
.ant-layout-header {
  background: #fff;
  margin-bottom: 16px;
}

.header {
  -webkit-app-region: drag;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  background-color: #2e68b4;
  color: #ffffff;
}

.input_lable {
  margin-top: 16px;
}
